

<form>
    <label>Name</label>
    <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="name">
    <label>Surname</label>
    <input type="text" name="surname" id="surname" placeholder="Surname" [(ngModel)]="surname">
    <label>Position</label>
    <input type="text" name="position" id="position" placeholder="Position" [(ngModel)]="position">
    <label>Salary</label>
    <input type="text" name="salary" id="salary" placeholder="Salary" [(ngModel)]="salary">
    <input type="submit" (click)="registerEmployee()">
  
  </form>
  <br>
  <app-employee *ngFor="let employee of employees; let i=index;" [employeeIterate]="employee" [index]="i"></app-employee><!-- declare variable for export to other ts component [employeeIterate]="employee" [index]="i" -->
  <br>
  
  
  
