<p>employee name: {{name}}</p>
<p>age: {{getAge()>18?'You can work':'You cant work here'}}</p>
<!-- you can use ternary operator with your text interpolation-->
<p>Your company is: {{company.value}}</p>
Type your company: <input type="text" (keyup)="company.value" #company [disabled]="inputProperty">
<br>
{{registerText}}<br>
Register: <input type="radio" value="yes" name="xRegister" id="register" [checked]="registerUser"(click)="setRegisterUser($event)">
Not Register: <input type="radio" value='no' name="xRegister" (click)="setRegisterUser($event)" ><!--taking the event to the function-->
{{getRegisterUser()}}

